.center-container {
    width: 100%;
	height: 85%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    background: url(../img/acceso-bg.jpg) no-repeat;
    background-size: 100%;
    background-position: center center;
}

.vertical-middle {
    width: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.left-text {
    width: 50%;
    padding-left: 40px;
    font-family: 'Tahoma', sans-serif;
    color: #3C3C3C;
    font-size: 11px;
}

.left-text .header {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 40px;
    text-shadow: -1px 0 #fff, 0 0, 0 0, 0 -1px #fff;
    color: #3C3C3C;
}

.left-text ul {
    padding-left: 3px;
}

.left-text li {
    list-style: none;
    padding: 5px 0;
    display: table;
}

.left-text li span {
    display: table-cell;
    vertical-align: middle;
}

.left-text li.pasos-ingreso {
    padding: 2px 0 2px 53px;
}

.left-text li img
{
    padding-right: 20px;
}

.login-container {
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.login-box {
    vertical-align: middle;
    margin: 0 auto;
    display: table;
    border: 1px solid #B1B1B1;
    border-right: 3px solid gray;
    background-color: rgba(210,210,210,0.68);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: #484642;
}

.login-box .login-box-header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    padding-bottom: 12px;
}

.login-box .login-button {
    border: 1px solid gray;
    width: 230px;
    height: 28px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 28px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

.login-box .login-button:hover {
    border: 1px solid black;
}

.login-box .recordar-usuario {
    text-align: left;
    font-size: 12px;
    padding-bottom: 10px;
}

.login-box .password-olvidado {
    text-align: right;
    font-size: 12px;
    padding-top: 5px;
    color: #4D86ED;
    cursor: pointer;
}

.login-box .password-olvidado:hover {
    text-decoration: underline;
}

.login-box .fb-button:hover,
.login-box .login-button:hover {
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.login-box .validation-summary-errors ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #975755;
    padding-bottom: 7px;
}