html, body {
    height: 100%;
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    /*font-family: 'Alegreya Sans', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 13px;
}

.left-sidebar {
    background: #373F48;
    color: #98A0A8;
    float: left;
    width: 160px;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.left-sidebar .avatar {
    width: 92px;
    height: 92px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid #636E7D;
}

.left-sidebar .user-name {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #B1B7BD;
}