@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada Doña Ines</title>
    @Styles.Render("~/Content/css/layout")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
    <body>
        <div class="left-sidebar">
            <div class="avatar" style="background-image: url('../Content/img/avatar.png');"></div>
            <div class="user-name">
                Rob Aravena
            </div>
            <div class="sub-user-name">1706</div>
        </div>
        @RenderBody()
    </body>
</html>